---
import Navbar from '../components/Navbar.astro';
import Portada from '../components/Portada.astro';
import Informacion from '../components/Informacion.astro';
import Portafolio from '../components/react/Portafolio.tsx';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/programming-svgrepo-com.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>David Osorio - Portafolio</title>
	</head>
	<body class="bg-colorFondo text-white">
		<Navbar />
		<Portada />
		<Informacion />
		<Portafolio client:load />
	</body>
</html>
