/*******************************Main********************************/
.main {
    width: 100%;
    min-height: 145vh;
    height: auto;
    position: relative;
    padding: 2rem;
}

.imagenFondo {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -20;
    object-fit: cover;
    top: 0;
    left: 0;
}

.iconoProgramacion {
    width: 10rem;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: scale-down !important;
    position: absolute;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.iconoProgramacion:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/* iconos izquierda */

.JS {
    width: 7rem;
    top: 44vh;
    left: 13vw;
    transform: rotate(-10deg);
    -webkit-animation: reverse entradaJS 2.5s ease;
    -moz-animation: reverse entradaJS 2.5s ease;
    animation: reverse entradaJS 2.5s ease;
}

.SQL {
    width: 12rem;
    top: 50vh;
    left: 21vw;

    -webkit-animation: reverse entradaSQL 3s ease;
    -moz-animation: reverse entradaSQL 3s ease;
    animation: reverse entradaSQL 3s ease;
}

.JAVA {
    width: 14rem;
    top: 90vh;
    left: 20vw;
    transform: rotate(-10deg);

    -webkit-animation: reverse entradaJAVA 3.5s ease;
    -moz-animation: reverse entradaJAVA 3.5s ease;
    animation: reverse entradaJAVA 3.5s ease;
}

.REACT {
    width: 9rem;
    top: 20vh;
    left: 2vw;

    -webkit-animation: reverse entradaREACT 2.5s ease;
    -moz-animation: reverse entradaREACT 2.5s ease;
    animation: reverse entradaREACT 2.5s ease;
}

.HTML {
    width: 10.5rem;
    top: 95vh;
    left: 2vw;
    transform: rotate(10deg);


    -webkit-animation: reverse entradaHTML 3s ease;
    -moz-animation: reverse entradaHTML 3s ease;
    animation: reverse entradaHTML 3s ease;
}

.CSS {
    width: 7.5rem;
    top: 65vh;
    left: 1vw;
    transform: rotate(10deg);

    -webkit-animation: reverse entradaCSS 3.5s ease;
    -moz-animation: reverse entradaCSS 3.5s ease;
    animation: reverse entradaCSS 3.5s ease;
}

.ANGU {
    width: 9rem;
    top: 20vh;
    left: 20vw;
    transform: rotate(15deg);

    -webkit-animation: reverse entradaANGU 2.5s ease;
    -moz-animation: reverse entradaANGU 2.5s ease;
    animation: reverse entradaANGU 2.5s ease;
}

.TYPE{
    width: 7rem;
    top: 75vh;
    left: 15vw;

    -webkit-animation: reverse entradaTYPE 2.5s ease;
    -moz-animation: reverse entradaTYPE 2.5s ease;
    animation: reverse entradaTYPE 2.5s ease;
}

.ASTRO {
    width: 9rem;
    top: 122vh;
    left: 11vw;

    -webkit-animation: reverse entradaASTRO 2.5s ease;
    -moz-animation: reverse entradaASTRO 2.5s ease;
    animation: reverse entradaASTRO 2.5s ease;
}
/* iconos derecha */

.TAIL {
    width: 11rem;
    top: 115vh;
    right: 15vw;
    transform: rotate(-15deg);
    -webkit-animation: reverse entradaTAIL 2.5s ease;
    -moz-animation: reverse entradaTAIL 2.5s ease;
    animation: reverse entradaTAIL 2.5s ease;
}

.NEXT {
    width: 9rem;
    top: 45vh;
    right: 28vw;

    -webkit-animation: reverse entradaNEXT 3s ease;
    -moz-animation: reverse entradaNEXT 3s ease;
    animation: reverse entradaNEXT 3s ease;
}

.FLUTTER {
    width: 9rem;
    top: 70vh;
    right: 20vw;
    transform: rotate(-10deg);

    -webkit-animation: reverse entradaFLUTTER 3.5s ease;
    -moz-animation: reverse entradaFLUTTER 3.5s ease;
    animation: reverse entradaFLUTTER 3.5s ease;
}

.DART {
    width: 9rem;
    top: 95vh;
    right: 2vw;

    -webkit-animation: reverse entradaDART 2.5s ease;
    -moz-animation: reverse entradaDART 2.5s ease;
    animation: reverse entradaDART 2.5s ease;
}

.SPRING {
    width: 15rem;
    top: 10vh;
    right: 20vw;
    transform: rotate(15deg);

    -webkit-animation: reverse entradaSPRING 3s ease;
    -moz-animation: reverse entradaSPRING 3s ease;
    animation: reverse entradaSPRING 3s ease;
}

.PYTHON {
    width: 10rem;
    top: 65vh;
    right: 2vw;
    transform: rotate(-15deg);

    -webkit-animation: reverse entradaPYTHON 3.5s ease;
    -moz-animation: reverse entradaPYTHON 3.5s ease;
    animation: reverse entradaPYTHON 3.5s ease;
}

.SASS {
    width: 10rem;
    top: 95vh;
    right: 28vw;
    transform: rotate(-15deg);

    -webkit-animation: reverse entradaSASS 3.5s ease;
    -moz-animation: reverse entradaSASS 3.5s ease;
    animation: reverse entradaSASS 3.5s ease;
}

.NODE {
    width: 10rem;
    top: 43vh;
    right: 12vw;
    -webkit-animation: reverse entradaNODE 3.5s ease;
    -moz-animation: reverse entradaNODE 3.5s ease;
    animation: reverse entradaNODE 3.5s ease;
}

.DOCKER {
    width: 9rem;
    top: 20vh;
    right: 2vw;
    -webkit-animation: reverse entradaDOCKER 3.5s ease;
    -moz-animation: reverse entradaDOCKER 3.5s ease;
    animation: reverse entradaDOCKER 3.5s ease;
}
/* animacion de la parte izquierda */

/* animacion js */

@-moz-keyframes entradaJS {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        top: 43vh;
    }

    40% {
        top: 70vh;
        left: 10vw;
        opacity: 1;
    }

    70% {
        top: 90vh;
        left: 15vw;
        opacity: 0.5;
    }

    100% {
        top: 100vh;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaJS {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        top: 43vh;
    }

    40% {
        top: 70vh;
        left: 10vw;
        opacity: 1;
    }

    70% {
        top: 90vh;
        left: 15vw;
        opacity: 0.5;
    }

    100% {
        top: 100vh;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion SQL */

@-moz-keyframes entradaSQL {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 50vh;
    }

    100% {
        top: 100vh;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaSQL {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 50vh;
    }

    40% {
        left: 30vw;
    }

    100% {
        top: 100vh;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion JAVA */

@-moz-keyframes entradaSQL {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        top: 65vh;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaJAVA {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion REACT */

@-moz-keyframes entradaREACT {
    0% {
        top: 20vh;
    }

    30% {
        top: 40vh;
        left: 50vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaREACT {
    0% {
        top: 20vh;
    }

    30% {
        top: 40vh;
        left: 50vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion CSS */

@-moz-keyframes entradaCSS {
    0% {
        transform: rotate(10deg);
        top: 65vh;
    }

    30% {
        top: 40vh;
        left: 50vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaCSS {
    0% {
        transform: rotate(10deg);
        top: 65vh;
    }

    30% {
        top: 40vh;
        left: 50vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion HTML */

@-moz-keyframes entradaHTML {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes entradaHTML {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* animacion de angular */

@-moz-keyframes entradaANGU {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
        top: 20vh;
    }

    30% {
        top: 50vh;
        left: 4vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(-65deg);
        transform: rotate(-65deg);
    }
}

@keyframes entradaANGU {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
        top: 20vh;
    }

    30% {
        top: 50vh;
        left: 4vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(-65deg);
        transform: rotate(-65deg);
    }
}

 /* animacion de typescript */

@-moz-keyframes entradaTYPE {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 75vh;
        left: 15vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
    }
}
@keyframes entradaTYPE {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 75vh;
        left: 15vw;
    }

    100% {
        top: 100vh;
        left: 30vw;
        opacity: 0;
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
    }
}

/* animacion de astro */

@-moz-keyframes entradaASTRO {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 122vh;
    }

    100% {
        top: 100vh;
        left: 11vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaASTRO {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 122vh;
    }

    100% {
        top: 100vh;
        left: 11vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion de la parte derecha */

/* animacion Tailwind */
@-moz-keyframes entradaTAIL {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes entradaTAIL {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* animacion NEXTjs */

@-moz-keyframes entradaNEXT {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 45vh;
    }

    100% {
        top: 100vh;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaNEXT {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 45vh;
    }

    100% {
        top: 100vh;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion Flutter */

@-moz-keyframes entradaFLUTTER {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        top: 70vh;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaFLUTTER {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        top: 70vh;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion Dart  */

@-moz-keyframes entradaDART {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, -100deg);
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaDART {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, -100deg);
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion Spring */

@-moz-keyframes entradaSPRING {
    0% {
        top: 10vh;
    }

    30% {
        top: 40vh;
        right: 50vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaSPRING {
    0% {
        top: 10vh;
    }

    30% {
        top: 40vh;
        right: 50vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

/* animacion Python */

@-moz-keyframes entradaPYTHON {
    0% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
        top: 65vh;
    }

    30% {
        top: 50vh;
        right: 4vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(-65deg);
        transform: rotate(-65deg);
    }
}

@keyframes entradaPYTHON {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        top: 65vh;
    }

    30% {
        top: 50vh;
        right: 4vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(-65deg);
        transform: rotate(-65deg);
    }
}

 /* animacion de node */

@keyframes entradaNODE {
    0% {
        top: 43vh;
        opacity: 1;
    }

    100% {
        top: 100vh;
        opacity: 0;
    }
}

/* amimacion de DOCKERapi */
@-moz-keyframes entradaDOCKER {
    0% {
        top: 20vh;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    30% {
        top: 40vh;
        right: 50vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaDOCKER {
    0% {
        top: 20vh;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    30% {
        top: 40vh;
        right: 50vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

 /* animacion de sass */

@-moz-keyframes entradaSASS {
    0% {
        top: 95vh;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    30% {
        top: 40vh;
        right: 50vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}

@keyframes entradaSASS {
    0% {
        top: 95vh;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    30% {
        top: 40vh;
        right: 50vw;
    }

    100% {
        top: 100vh;
        right: 30vw;
        opacity: 0;
        -webkit-transform: rotate(65deg);
        transform: rotate(65deg);
    }
}


@media only screen and (max-width: 1000px) {
    .main {
        padding: 2rem;
        padding-top: 10rem;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-content: flex-end;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .iconoProgramacion {
        position: relative;
        width: 120px;
        height: 120px;
        object-fit: fill;
        top: auto;
        left: auto;
        right: auto;
        transform: rotate(0deg);
    }

    @-moz-keyframes TabletAnimation{
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes TabletAnimation {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .JS {
        width: 8rem;
        height: 8rem;
        -webkit-animation: reverse TabletAnimation 0.3s ease;
        -moz-animation: reverse TabletAnimation 0.3s ease;
        animation: reverse TabletAnimation 0.3s ease;
    }

    .SQL {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 0.6s ease;
        -moz-animation: reverse TabletAnimation 0.6s ease;
        animation: reverse TabletAnimation 0.6s ease;
    }

    .JAVA {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 0.9s ease;
        -moz-animation: reverse TabletAnimation 0.9s ease;
        animation: reverse TabletAnimation 0.9s ease;
    }

    .REACT {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 1.2s ease;
        -moz-animation: reverse TabletAnimation 1.2s ease;
        animation: reverse TabletAnimation 1.2s ease;
    }

    .HTML {
        width: 11rem;
        height: 11rem;
        -webkit-animation: reverse TabletAnimation 1.5s ease;
        -moz-animation: reverse TabletAnimation 1.5s ease;
        animation: reverse TabletAnimation 1.5s ease;
    }

    .TYPE{
        margin: 1rem;
        width: 8rem;
        height: 8rem;
        -webkit-animation: reverse TabletAnimation 1.5s ease;
        -moz-animation: reverse TabletAnimation 1.8s ease;
        animation: reverse TabletAnimation 1.8s ease;
    }

    .ANGU {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 1.5s ease;
        -moz-animation: reverse TabletAnimation 1.8s ease;
        animation: reverse TabletAnimation 1.8s ease;
    }

    .CSS {
        width: 8.5rem;
        height: 8.5rem;
        -webkit-animation: reverse TabletAnimation 1.8s ease;
        -moz-animation: reverse TabletAnimation 1.8s ease;
        animation: reverse TabletAnimation 1.8s ease;
    }

    .TAIL {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 2.1s ease;
        -moz-animation: reverse TabletAnimation 2.1s ease;
        animation: reverse TabletAnimation 2.1s ease;
    }

    .NEXT {
        margin: 0.5rem;
        width: 9rem;
        height: 9rem;
        -webkit-animation: reverse TabletAnimation 2.4s ease;
        -moz-animation: reverse TabletAnimation 2.4s ease;
        animation: reverse TabletAnimation 2.4s ease;
    }

    .FLUTTER {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 2.7s ease;
        -moz-animation: reverse TabletAnimation 2.7s ease;
        animation: reverse TabletAnimation 2.7s ease;
    }

    .DART {
        width: 9rem;
        height: 9rem;
        -webkit-animation: reverse TabletAnimation 3s ease;
        -moz-animation: reverse TabletAnimation 3s ease;
        animation: reverse TabletAnimation 3s ease;
    }

    .SPRING {
        width: 13rem;
        height: 13rem;
        -webkit-animation: reverse TabletAnimation 3.3s ease;
        -moz-animation: reverse TabletAnimation 3.3s ease;
        animation: reverse TabletAnimation 3.3s ease;
    }

    .PYTHON {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 3.6s ease;
        -moz-animation: reverse TabletAnimation 3.6s ease;
        animation: reverse TabletAnimation 3.6s ease;
    }
    
    .ASTRO {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 3.9s ease;
        -moz-animation: reverse TabletAnimation 3.9s ease;
        animation: reverse TabletAnimation 3.9s ease;
    }

    .SASS {
        width: 10rem;
        height: 10rem;
        -webkit-animation: reverse TabletAnimation 4.2s ease;
        -moz-animation: reverse TabletAnimation 4.2s ease;
        animation: reverse TabletAnimation 4.2s ease;
    }

    .NODE {
        width: 9rem;
        height: 9rem;
        -webkit-animation: reverse TabletAnimation 4.5s ease;
        -moz-animation: reverse TabletAnimation 4.5s ease;
        animation: reverse TabletAnimation 4.5s ease;
    }

    .DOCKER {
        width: 7rem;
        height: 7rem;
        -webkit-animation: reverse TabletAnimation 4.8s ease;
        -moz-animation: reverse TabletAnimation 4.8s ease;
        animation: reverse TabletAnimation 4.8s ease;
    }
}


@media only screen and (min-width: 2500px) {

    .iconoProgramacion {
        transform: scale(1.5);
    }

    .iconoProgramacion:hover {
        transform: scale(1.7);
    }

}