---
import '../style/App.css';
---

<nav id="top">
    <div id="navbar">
        <span class="animacion">
            <img src="/programming-svgrepo-com.svg" alt="logo" class="size-12 icon" />
            <p class="titulo">Soy David Alejandro Osorio Sánchez</p>
        </span>
    </div>
</nav>
