---
import Logos from "./Logos.astro";
import "../style/App.css";
import "../style/Portada.scss";
---

<section class="main">
    <img
        class="imagenFondo"
        src="https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/non-4k/original/07.jpg?3"
        alt="no cargo"
    />
    {/* tarjeta parte izquierda */}
    <Logos
        miAnimacion="JS"
        links="https://blog.desafiolatam.com/wp-content/uploads/2018/05/javascript-logo.png"
    />
    <Logos
        miAnimacion="SQL"
        links="http://blog.desafiolatam.com/wp-content/uploads/2018/05/sql-logo.png"
    />
    <Logos
        miAnimacion="JAVA"
        links="http://blog.desafiolatam.com/wp-content/uploads/2018/05/java-logo.png"
    />
    <Logos
        miAnimacion="REACT"
        links="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/React_Logo_SVG.svg/1024px-React_Logo_SVG.svg.png"
    />
    <Logos
        miAnimacion="CSS"
        links="https://img-resize-cdn.joshmartin.ch/2000x0%2C363e360e8516e42e965658dab267b06b94b2899a751b80079cfce35583aa080c/https://joshmartin.ch/app/uploads/2017/10/css3.svg"
    />
    <Logos
        miAnimacion="HTML"
        links="https://res.cloudinary.com/thewebmaster/image/upload/c_scale,f_auto,q_auto:best,w_516/images/html/html5.png"
    />

    <Logos
        miAnimacion="ANGU"
        links="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
    />

    <Logos
        miAnimacion="TYPE"
        links="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/300px-Typescript_logo_2020.svg.png"
    />
    <Logos
        miAnimacion="ASTRO"
        links="https://i.namu.wiki/i/pIHdfj8RHVICP-89nMhpVj0DuLYNSuDQBjFS3ITd1-ti954tFpBjaVVtSeTP2dATx9F1vBYZS-rR_53unSgdxTme8SNQ9puViy0wnMUd95QWBT7dVISoAeoR7Fl3lTlFV9eQp9C7upIepC2Lw_JhkA.svg"
    />

    {/* tarjeta parte derecha */}
    <Logos
        miAnimacion="TAIL"
        links="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"
    />
    <Logos
        miAnimacion="NEXT"
        links="https://images-cdn.openxcell.com/wp-content/uploads/2024/07/24154156/dango-inner-2.webp"
    />
    <Logos
        miAnimacion="FLUTTER"
        links="https://web-strapi.mrmilu.com/uploads/flutter_logo_470e9f7491.png"
    />
    <Logos
        miAnimacion="DART"
        links="https://upload.wikimedia.org/wikipedia/commons/7/7e/Dart-logo.png"
    />
    <Logos
        miAnimacion="SPRING"
        links="https://www.armadilloamarillo.com/wp-content/uploads/spring-boot-ok.png"
    />
    <Logos
        miAnimacion="PYTHON"
        links="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/220px-Python-logo-notext.svg.png"
    />
    <Logos
        miAnimacion="SASS"
        links="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/320px-Sass_Logo_Color.svg.png"
    />
    <Logos
        miAnimacion="NODE"
        links="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/200px-Node.js_logo.svg.png"
    />
    <Logos
        miAnimacion="FAST"
        links="https://cdn.worldvectorlogo.com/logos/fastapi-1.svg"
    />
</section>
