---
import Logos from "./Logos.astro";
import "../style/App.css";
import "../style/Portada.css";
---

<section class="main">
    <img
        class="imagenFondo"
        src="/FondoPortada.webp"
        alt="no cargo"
    />
    {/* tarjeta parte izquierda */}
    <Logos
        miAnimacion="JS"
        links="/logos/JS.webp"
    />
    <Logos
        miAnimacion="SQL"
        links="/logos/SQL.webp"
    />
    <Logos
        miAnimacion="JAVA"
        links="/logos/JAVA.webp"
    />
    <Logos
        miAnimacion="REACT"
        links="/logos/REACT.webp"
    />
    <Logos
        miAnimacion="CSS"
        links="https://upload.wikimedia.org/wikipedia/commons/a/ab/Official_CSS_Logo.svg"
    />
    <Logos
        miAnimacion="HTML"
        links="/logos/HTML.webp"
    />

    <Logos
        miAnimacion="ANGU"
        links="/logos/ANGULAR.webp"
    />

    <Logos
        miAnimacion="TYPE"
        links="/logos/TYPE.webp"
    />
    <Logos
        miAnimacion="ASTRO"
        links="/logos/ASTRO.webp"
    />

    {/* tarjeta parte derecha */}
    <Logos
        miAnimacion="TAIL"
        links="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"
    />
    <Logos
        miAnimacion="NEXT"
        links="https://images-cdn.openxcell.com/wp-content/uploads/2024/07/24154156/dango-inner-2.webp"
    />
    <Logos
        miAnimacion="FLUTTER"
        links="/logos/FLUTTER.webp"
    />
    <Logos
        miAnimacion="DART"
        links="/logos/DART.webp"
    />
    <Logos
        miAnimacion="SPRING"
        links="/logos/SPRING.webp"
    />
    <Logos
        miAnimacion="PYTHON"
        links="/logos/PYTHON.webp"
    />
    <Logos
        miAnimacion="SASS"
        links="/logos/SASS.webp"
    />
    <Logos
        miAnimacion="NODE"
        links="/logos/NODE.webp"
    />
    <Logos
        miAnimacion="DOCKER"
        links="/logos/DOCKER.webp"
    />
</section>
