:root {
  padding: 0rem;
  margin: 0%;
  overflow-x: hidden;
  background-image: url(./../assets/Fondo.jpg);
}

body {
  height: 150vh;
}

/*******************************navbar********************************/

#top {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}

#navbar {
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  width: 100vw;
  height: 10rem;
  
}

.titulo {
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
  z-index: 100;
}

.icono {
  color: #216fc7;
  font-size: 4rem;
  background-color: whitesmoke;
}

.animacion {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.animacion:hover {
  -webkit-animation: infinite titulo 2.5s ease-out;
  animation: infinite titulo 2.5s ease-out;
}


@keyframes titulo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    background-color: whitesmoke;
  }
  100% {
    opacity: 0;
  }
}


