/*******************************Main********************************/

.main {
  background-image: url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/non-4k/original/07.jpg?3);
  width: 100%;
  background-size: 100% 100%;
  object-fit: contain;
  height: 100vh;
  position: relative;
}

.iconoProgramacion {
  width: 10rem;
  height: auto;
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.iconoProgramacion:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* iconos izquierda */

.JS {
  width: 7rem;
  top: 43vh;
  left: 10vw;
  -webkit-animation: reverse entradaJS 4s ease;
  -moz-animation: reverse entradaJS 4s ease;
  animation: reverse entradaJS 4s ease;
}

.SQL {
  width: 15rem;
  top: 50vh;
  left: 20vw;

  -webkit-animation: reverse entradaSQL 4.5s ease;
  -moz-animation: reverse entradaSQL 4.5s ease;
  animation: reverse entradaSQL 4.5s ease;
}

.JAVA {
  width: 14rem;
  top: 65vh;
  left: 12vw;
  transform: rotate(-10deg);

  -webkit-animation: reverse entradaJAVA 5.5s ease;
  -moz-animation: reverse entradaJAVA 5.5s ease;
  animation: reverse entradaJAVA 5.5s ease;
}

.REACT {
  width: 9rem;
  top: 20vh;
  left: 2vw;

  -webkit-animation: reverse entradaREACT 3.5s ease;
  -moz-animation: reverse entradaREACT 3.5s ease;
  animation: reverse entradaREACT 3.5s ease;
}

.HTML {
  width: 11rem;
  top: 20vh;
  left: 20vw;
  transform: rotate(15deg);

  -webkit-animation: reverse entradaHTML 3.5s ease;
  -moz-animation: reverse entradaHTML 3.5s ease;
  animation: reverse entradaHTML 3.5s ease;
}

.CSS {
  width: 10rem;
  top: 65vh;
  left: 2vw;
  transform: rotate(-10deg);

  -webkit-animation: reverse entradaCSS 5s ease;
  -moz-animation: reverse entradaCSS 5s ease;
  animation: reverse entradaCSS 5s ease;
}

/* iconos derecha */

.TAIL {
  width: 10rem;
  top: 43vh;
  right: 10vw;
  -webkit-animation: reverse entradaTAIL 4s ease;
  -moz-animation: reverse entradaTAIL 4s ease;
  animation: reverse entradaTAIL 4s ease;
}

.BOOT {
  width: 9rem;
  top: 45vh;
  right: 25vw;

  -webkit-animation: reverse entradaBOOT 4.5s ease;
  -moz-animation: reverse entradaBOOT 4.5s ease;
  animation: reverse entradaBOOT 4.5s ease;
}

.FLUTTER {
  width: 9rem;
  top: 70vh;
  right: 20vw;
  transform: rotate(-10deg);

  -webkit-animation: reverse entradaFLUTTER 5.5s ease;
  -moz-animation: reverse entradaFLUTTER 5.5s ease;
  animation: reverse entradaFLUTTER 5.5s ease;
}

.DART {
  width: 9rem;
  top: 20vh;
  right: 2vw;

  -webkit-animation: reverse entradaDART 3.5s ease;
  -moz-animation: reverse entradaDART 3.5s ease;
  animation: reverse entradaDART 3.5s ease;
}

.SPRING {
  width: 15rem;
  top: 20vh;
  right: 20vw;
  transform: rotate(15deg);

  -webkit-animation: reverse entradaSPRING 5s ease;
  -moz-animation: reverse entradaSPRING 5s ease;
  animation: reverse entradaSPRING 5s ease;
}

.PYTHON {
  width: 10rem;
  top: 65vh;
  right: 2vw;
  transform: rotate(-15deg);

  -webkit-animation: reverse entradaPYTHON 3.5s ease;
  -moz-animation: reverse entradaPYTHON 3.5s ease;
  animation: reverse entradaPYTHON 3.5s ease;
}

/* animacion de la parte izquierda */

/* animacion js */

@-moz-keyframes entradaJS {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    left: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    left: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaJS {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    left: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    left: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion SQL */

@-moz-keyframes entradaSQL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 50vh;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaSQL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 50vh;
  }

  40% {
    left: 30vw;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion JAVA */

@-moz-keyframes entradaSQL {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 65vh;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaJAVA {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 65vh;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion REACT */

@-moz-keyframes entradaREACT {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaREACT {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion CSS */

@-moz-keyframes entradaCSS {
  0% {
    top: 65vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaCSS {
  0% {
    top: 65vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion HTML */

@-moz-keyframes entradaHTML {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: 20vh;
  }

  30% {
    top: 50vh;
    left: 4vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

@keyframes entradaHTML {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: 20vh;
  }

  30% {
    top: 50vh;
    left: 4vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

/* animacion de la parte derecha */

/* animacion Tailwind */
@-moz-keyframes entradaTAIL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    right: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    right: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaTAIL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    right: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    right: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Bootstrap */

@-moz-keyframes entradaBOOT {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 45vh;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaBOOT {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 45vh;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Flutter */

@-moz-keyframes entradaFLUTTER {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 70vh;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaFLUTTER {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 70vh;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Dart  */

@-moz-keyframes entradaDART {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaDART {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion SpringBoot */

@-moz-keyframes entradaSPRING {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaSPRING {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Python */

@-moz-keyframes entradaPYTHON {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: 65vh;
  }

  30% {
    top: 50vh;
    right: 4vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

@keyframes entradaPYTHON {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    top: 65vh;
  }

  30% {
    top: 50vh;
    right: 4vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}