/*******************************Main********************************/

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 2rem;
}

.imagenFondo{
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -20;
  object-fit: cover;
  top: 0;
  left: 0;
}

.iconoProgramacion {
  width: 10rem;
  height: auto;
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.iconoProgramacion:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}


/* iconos izquierda */

.JS {
  width: 7rem;
  top: 43vh;
  left: 10vw;
  -webkit-animation: reverse entradaJS 2.5s ease;
  -moz-animation: reverse entradaJS 2.5s ease;
  animation: reverse entradaJS 2.5s ease;
}

.SQL {
  width: 15rem;
  top: 50vh;
  left: 20vw;

  -webkit-animation: reverse entradaSQL 3s ease;
  -moz-animation: reverse entradaSQL 3s ease;
  animation: reverse entradaSQL 3s ease;
}

.JAVA {
  width: 14rem;
  top: 65vh;
  left: 12vw;
  transform: rotate(-10deg);

  -webkit-animation: reverse entradaJAVA 3.5s ease;
  -moz-animation: reverse entradaJAVA 3.5s ease;
  animation: reverse entradaJAVA 3.5s ease;
}

.REACT {
  width: 9rem;
  top: 20vh;
  left: 2vw;

  -webkit-animation: reverse entradaREACT 2.5s ease;
  -moz-animation: reverse entradaREACT 2.5s ease;
  animation: reverse entradaREACT 2.5s ease;
}

.HTML {
  width: 11rem;
  top: 20vh;
  left: 20vw;
  transform: rotate(15deg);

  -webkit-animation: reverse entradaHTML 3s ease;
  -moz-animation: reverse entradaHTML 3s ease;
  animation: reverse entradaHTML 3s ease;
}

.CSS {
  width: 10rem;
  top: 65vh;
  left: 2vw;
  transform: rotate(-10deg);

  -webkit-animation: reverse entradaCSS 3.5s ease;
  -moz-animation: reverse entradaCSS 3.5s ease;
  animation: reverse entradaCSS 3.5s ease;
}

/* iconos derecha */

.TAIL {
  width: 10rem;
  top: 43vh;
  right: 10vw;
  -webkit-animation: reverse entradaTAIL 2.5s ease;
  -moz-animation: reverse entradaTAIL 2.5s ease;
  animation: reverse entradaTAIL 2.5s ease;
}

.BOOT {
  width: 9rem;
  top: 45vh;
  right: 25vw;

  -webkit-animation: reverse entradaBOOT 3s ease;
  -moz-animation: reverse entradaBOOT 3s ease;
  animation: reverse entradaBOOT 3s ease;
}

.FLUTTER {
  width: 9rem;
  top: 70vh;
  right: 20vw;
  transform: rotate(-10deg);

  -webkit-animation: reverse entradaFLUTTER 3.5s ease;
  -moz-animation: reverse entradaFLUTTER 3.5s ease;
  animation: reverse entradaFLUTTER 3.5s ease;
}

.DART {
  width: 9rem;
  top: 20vh;
  right: 2vw;

  -webkit-animation: reverse entradaDART 2.5s ease;
  -moz-animation: reverse entradaDART 2.5s ease;
  animation: reverse entradaDART 2.5s ease;
}

.SPRING {
  width: 15rem;
  top: 20vh;
  right: 20vw;
  transform: rotate(15deg);

  -webkit-animation: reverse entradaSPRING 3s ease;
  -moz-animation: reverse entradaSPRING 3s ease;
  animation: reverse entradaSPRING 3s ease;
}

.PYTHON {
  width: 10rem;
  top: 65vh;
  right: 2vw;
  transform: rotate(-15deg);

  -webkit-animation: reverse entradaPYTHON 3.5s ease;
  -moz-animation: reverse entradaPYTHON 3.5s ease;
  animation: reverse entradaPYTHON 3.5s ease;
}

/* animacion de la parte izquierda */

/* animacion js */

@-moz-keyframes entradaJS {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    left: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    left: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaJS {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    left: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    left: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion SQL */

@-moz-keyframes entradaSQL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 50vh;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaSQL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 50vh;
  }

  40% {
    left: 30vw;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion JAVA */

@-moz-keyframes entradaSQL {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 65vh;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaJAVA {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 65vh;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion REACT */

@-moz-keyframes entradaREACT {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaREACT {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion CSS */

@-moz-keyframes entradaCSS {
  0% {
    top: 65vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaCSS {
  0% {
    top: 65vh;
  }

  30% {
    top: 40vh;
    left: 50vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion HTML */

@-moz-keyframes entradaHTML {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: 20vh;
  }

  30% {
    top: 50vh;
    left: 4vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

@keyframes entradaHTML {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: 20vh;
  }

  30% {
    top: 50vh;
    left: 4vw;
  }

  100% {
    top: 100vh;
    left: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

/* animacion de la parte derecha */

/* animacion Tailwind */
@-moz-keyframes entradaTAIL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    right: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    right: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaTAIL {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 43vh;
  }

  40% {
    top: 70vh;
    right: 10vw;
    opacity: 1;
  }

  70% {
    top: 90vh;
    right: 15vw;
    opacity: 0.5;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Bootstrap */

@-moz-keyframes entradaBOOT {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 45vh;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaBOOT {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 45vh;
  }

  100% {
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Flutter */

@-moz-keyframes entradaFLUTTER {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 70vh;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaFLUTTER {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 70vh;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Dart  */

@-moz-keyframes entradaDART {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaDART {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion SpringBoot */

@-moz-keyframes entradaSPRING {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@keyframes entradaSPRING {
  0% {
    top: 20vh;
  }

  30% {
    top: 40vh;
    right: 50vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

/* animacion Python */

@-moz-keyframes entradaPYTHON {
  0% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: 65vh;
  }

  30% {
    top: 50vh;
    right: 4vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

@keyframes entradaPYTHON {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    top: 65vh;
  }

  30% {
    top: 50vh;
    right: 4vw;
  }

  100% {
    top: 100vh;
    right: 30vw;
    opacity: 0;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}



@media only screen and (max-width: 1000px){
  .main{
    padding: 2rem;
    padding-top: 10rem;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .iconoProgramacion{
    position: relative;
    width:  120px;
    height: 120px;
    object-fit: fill;
    top:auto;
    left: auto;
    right: auto;
    transform: rotate(0deg);
  }

    @-moz-keyframes entradaJS {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaJS {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion SQL */
  
    @-moz-keyframes entradaSQL {
      0% {
          opacity: 1;
        }
      
        100% {
          opacity: 0;
        }
    }
  
    @keyframes entradaSQL {
      0% {
          opacity: 1;
        }
      
        100% {
          opacity: 0;
        }
    }
  
    /* animacion JAVA */
  
    @-moz-keyframes entradaSQL {
    0% {
        opacity: 1;
      }
    
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaJAVA {
      0% {
          opacity: 1;
        }
      
        100% {
          opacity: 0;
        }
    }
  
    /* animacion REACT */
  
    @-moz-keyframes entradaREACT {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaREACT {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion CSS */
  
    @-moz-keyframes entradaCSS {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaCSS {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion HTML */
  
    @-moz-keyframes entradaHTML {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaHTML {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion de la parte derecha */
  
    /* animacion Tailwind */
    @-moz-keyframes entradaTAIL {
    0% {
        opacity: 1;
      }
    
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaTAIL {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion Bootstrap */
  
    @-moz-keyframes entradaBOOT {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaBOOT {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion Flutter */
  
    @-moz-keyframes entradaFLUTTER {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaFLUTTER {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion Dart  */
  
    @-moz-keyframes entradaDART {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaDART {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion SpringBoot */
  
    @-moz-keyframes entradaSPRING {
     0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    @keyframes entradaSPRING {
     0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
    /* animacion Python */
  
    @-moz-keyframes entradaPYTHON {
      0% {
          opacity: 1;
        }
      
        100% {
          opacity: 0;
        }
    }
  
    @keyframes entradaPYTHON {
      0% {
          opacity: 1;
        }
      
        100% {
          opacity: 0;
        }
    }

    .JS {
      -webkit-animation: reverse entradaJS 0.3s ease;
      -moz-animation: reverse entradaJS 0.3s ease;
      animation: reverse entradaJS 0.3s ease;
    }

    .SQL {
      -webkit-animation: reverse entradaSQL 0.6s ease;
      -moz-animation: reverse entradaSQL 0.6s ease;
      animation: reverse entradaSQL 0.6s ease;
    }

    .JAVA {
      -webkit-animation: reverse entradaJAVA 0.9s ease;
      -moz-animation: reverse entradaJAVA 0.9s ease;
      animation: reverse entradaJAVA 0.9s ease;
    }

    .REACT {
      -webkit-animation: reverse entradaREACT 1.2s ease;
      -moz-animation: reverse entradaREACT 1.2s ease;
      animation: reverse entradaREACT 1.2s ease;
    }

    .HTML {
      -webkit-animation: reverse entradaHTML 1.5s ease;
      -moz-animation: reverse entradaHTML 1.5s ease;
      animation: reverse entradaHTML 1.5s ease;
    }

    .CSS {
      -webkit-animation: reverse entradaCSS 1.8s ease;
      -moz-animation: reverse entradaCSS 1.8s ease;
      animation: reverse entradaCSS 1.8s ease;
    }

    .TAIL {
      -webkit-animation: reverse entradaTAIL 2.1s ease;
      -moz-animation: reverse entradaTAIL 2.1s ease;
      animation: reverse entradaTAIL 2.1s ease;
    }

    .BOOT {
      -webkit-animation: reverse entradaBOOT 2.4s ease;
      -moz-animation: reverse entradaBOOT 2.4s ease;
      animation: reverse entradaBOOT 2.4s ease;
    }

    .FLUTTER {
      -webkit-animation: reverse entradaFLUTTER 2.7s ease;
      -moz-animation: reverse entradaFLUTTER 2.7s ease;
      animation: reverse entradaFLUTTER 2.7s ease;
    }

    .DART {
      -webkit-animation: reverse entradaDART 3s ease;
      -moz-animation: reverse entradaDART 3s ease;
      animation: reverse entradaDART 3s ease;
    }

    .SPRING {
      -webkit-animation: reverse entradaSPRING 3.3s ease;
      -moz-animation: reverse entradaSPRING 3.3s ease;
      animation: reverse entradaSPRING 3.3s ease;
    }

    .PYTHON {
      -webkit-animation: reverse entradaPYTHON 3.6s ease;
      -moz-animation: reverse entradaPYTHON 3.6s ease;
      animation: reverse entradaPYTHON 3.6s ease;
    }

}


@media only screen and (min-width: 2500px) {
  
  .iconoProgramacion{
    transform: scale(1.5);
  }

  .iconoProgramacion:hover{
    transform: scale(1.7);
  }
  
}