:root {
  padding: 0rem;
  margin: 0%;
  overflow-x: hidden;
  background-color: #216fc7;
}

body {
  height: 150vh;
}

/*******************************navbar********************************/

#top {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 100vw;
  height: 10rem;
}

.titulo {
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
}

.icono {
  color: #216fc7;
  font-size: 4rem;
  background-color: whitesmoke;
}

.animacion {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.animacion:hover {
  -webkit-animation: infinite titulo 2.5s ease-out;
  animation: infinite titulo 2.5s ease-out;
}

#borde {
  width: 100vw;
  height: 5px;
  position: static;
  background-color: whitesmoke;
}

@keyframes titulo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    background-color: whitesmoke;
  }
  100% {
    opacity: 0;
  }
}

/*******************************Main********************************/

.main {
  background-color: peru;
  width: 100%;
  height: 100vh;
  position: relative;
}

.iconoProgramacion {
  width: 5rem;
  height: auto;
  position: absolute;
}

.JS {
  top: 40vh;
  left: 10vw;
  -webkit-animation: reverse entradaJS 5s ease;
  -moz-animation: reverse entradaJS 5s ease;
  animation: reverse entradaJS 5s ease;
}

.SQL {
  top: 90vh;
  left: 20vw;

  -webkit-animation: normal entrada 2.5s ease;
  -moz-animation: normal entrada 2.5s ease;
  animation: normal entrada 2.5s ease;
}

.JAVA {
  top: 90vh;
  left: 30vw;

  -webkit-animation: normal entrada 2.5s ease;
  -moz-animation: normal entrada 2.5s ease;
  animation: normal entrada 2.5s ease;
}

@-moz-keyframes entradaJS {
  0% {
    /* -webkit-transform: traslate(-100px, 0px);
    -moz-transform: traslate(-100px, 0px);
    -ms-transform: traslate(-100px, 0px);
    -o-transform: traslate(-100px, 0px);
    transform: traslate(-100px, 0px); */

    top: 30vh;
    opacity: 1;
  }
  10% {
  }
  20% {
  }
  30% {
  }
  40% {
  }
  50% {
  }
  60% {
  }
  70% {
    top: 70vh;
    left: 10vw;
  }
  80% {
    top: 60vh;
    left: 5vw;
  }
  90% {
    top: 80vh;
    left: 15vw;
  }
  100% {
    /* -webkit-transform: traslate(-500px, 0px);
    -moz-transform: traslate(-500px, 0px);
    -ms-transform: traslate(-500px, 0px);
    -o-transform: traslate(-500px, 0px);
    transform: traslate(-500px, 0px); */

    top: 100vh;
    opacity: 0;
  }
}

@keyframes entradaJS {
  0% {
    /*-webkit-transform: traslate(-100px, 0px);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: traslate(-100px, 0px);
    */
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 40vh;
  }
  40% {
    top: 70vh;
    left: 10vw;
    opacity: 1;
  }
  70% {
    top: 90vh;
    left: 15vw;
    opacity: 0.5;
  }
  100% {
    /*-webkit-transform: traslate(-500px, 0px);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: traslate(-500px, 0px);
    */
    top: 100vh;
    opacity: 0;
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
