:root{
  padding: 0rem;
  margin: 0%;
  overflow-x: hidden;
  background-color: #216fc7;
}

#navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 100vw;
  height: 10rem;
  background-color: #124076;
  border-bottom: 0.2rem solid whitesmoke;
  box-shadow: 0.5rem 0.5rem 5rem whitesmoke;
}

.titulo{
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
}

.icono{
  color: whitesmoke;
  font-size: 4rem;
}

.animacion{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.animacion:hover{
  animation: infinite titulo 2.5s ease-out;
}

@keyframes titulo {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    
  }
}